* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	font-size: 14px;
	background-color: #222;
}


h1 {
	margin: 10px 0;
}

h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
}

ul {
	margin-left: 50px; 
}

h3 {
	
}

address {
	font-style: normal;
}

p {
	line-height: 130%;
}

.wrapper {
	background-color: #FFF;
	width: 640px;
	margin: 0 auto;
}

.professional-experience li {
	margin-bottom: 10px;
}
